//Cards colors
$colorWork: hsl(15, 100%, 70%);
$colorPlay: hsl(195, 74%, 62%);
$colorStudy:hsl(348, 100%, 68%);
$colorExercise: hsl(145, 58%, 55%);
$colorSocial: hsl(264, 64%, 52%);
$colorSelfCare:hsl(43, 84%, 65%);
$colorWhite: #ffffff;

//Blue tons
$blueZao: hsl(246, 80%, 60%);
$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);
$fontFamily: 'Rubik';

@mixin background-image {
  img {
    width: 60px;
    float: right;
    margin-right: 22px;
    margin-bottom: 12px;
  }
}

@mixin size-mobile {
  width: 260px;
  height: 120px;
}
